/* Basado en Bootstrap Sign-in example */
/* https://getbootstrap.com/docs/5.3/examples/sign-in/ */

.form-signin {
  max-width: 420px;
  padding: 1rem;
}

.form-signin .card {
  border-radius: 1rem;
}

/* Color personalizado de TMDb */
.btn-primary {
  background-color: #01b4e4;
  border-color: #01b4e4;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0190b4;
  border-color: #0190b4;
}
