<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><button type="button" (click)="loadPopularMovies()">Popular</button></li>
      <li><button type="button" (click)="loadTopRatedMovies()">Top Rated</button></li>
      <li><button type="button" (click)="loadUpcomingMovies()">Upcoming</button></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu">
      <li><button type="button" (click)="loadPopularMovies()">Popular</button></li>
      <li><button type="button" (click)="loadTopRatedMovies()">Top Rated</button></li>
      <li><button type="button" (click)="loadUpcomingMovies()">Upcoming</button></li>
    </ul>
  </li>
</ul>

@for (m of movies; track $index) {
    <a [routerLink]="['/movie', m.id]"><p>{{m.title}}</p></a>
}